<div class="jumbotron fujitsu" >
    <table class="table-responsive">
        <tr>
            <td style="padding:2px"><img src="../Images/fastrack_online_b.png" width="150" height="50" /></td>
            <td>
                <blockquote>
                    <p style="font-size:14px">FASTrack Online is the companion website for the FASTrack mobile application. It provides the users the ability to</p>
                    <ul style="font-size:12px;font-style:italic">
                        <li>Manage their profile.</li>
                        <li>Maintain their data.</li>
                        <li>Print reports.</li>
                    </ul>
                </blockquote>
            </td>
        </tr>
        <tr>
            <td style="padding:2px"><img src="../Images/fastrack_1.png" width="120" height="120" />
            </td>
            <td>
                <blockquote>
                    <p style="font-size:14px">FASTRACK is the new mobile enabled asset tracking system for Fujitsu.</p>
                    <p style="font-size:14px">Get the app now by downloading the package at this location and sideload it to your android phone. Steps on how to sideload FASTrack on your android phones can be found on <a href="http://lifehacker.com/5943562/how-to-sideload-android-apps"> this link.</a></p>
                </blockquote>
            </td>
        </tr>
    </table>
    
</div>