@{
    ViewBag.Title = "About";
}
<br />
<div class="jumbotron fujitsu col-lg-12" style="height:400px">
    <div>
        <h1 class="text-info">FASTRACK</h1>
        <p>Is the application suite that aims improve the current manual system of tracking computer hardware assets of the company.
           It also targets to introduce mobility and software on the go solution, thereby making the tedious 
           process of monitoring hardware assets easier and the information more accessible.
        </p>
    </div>
  
</div>
